body
{
	background-color: #AEA7A7;
}

div 
{
	margin:0 auto;
		margin-top: 250px;
	width: 960px;
}

p
{
	font-weight: bolder;
	font-size:25px;
	font-family:Lucida Console;
}

label
{
	font-size: 25px;
}

#Box
{

	line-height: 5em;
}